footer {
  @include grid-container;
  height: 200px;
  background: #29292c;
  color: #b5b5c0;
}

.footer-content {
  @include grid-column(1, $article-layout-grid);
  text-align: center;
  padding: 2rem;
}
