header {
  @include grid-container;
  padding: .8em;
  margin-bottom: 5rem;
  border-bottom: 1px solid #f0f0f2;
}

.logo {
   @include grid-column(1, $article-layout-grid);
   text-align: center;
   margin-top: 3rem;
   svg {
     @include size(140px);
   }

   @include grid-media($article-layout-grid--tablet-up) {
     @include grid-column(1);
     text-align: left;
     margin-top: 0;
     svg {
       @include size(60px);
     }
   }
}

nav {
  @include grid-column(1, $article-layout-grid);
  ul { text-align: center; }

  @include grid-media($article-layout-grid--tablet-up) {
    @include grid-column(4);
    ul { text-align: right; }
  }
}

nav {
  height: 60px;
  margin-top: 1rem;

  a {
    color: #454547;
    text-decoration: none;
    &:hover {
      color: #ee3e44;
      text-decoration: underline;
    }
  }

  ul li {
    display: inline-block;
    padding: 1rem;
  }
}
