$article-layout-grid: (
  columns: 1,
  gutter: 2rem,
);


$article-layout-grid--tablet-up: (
  columns: 5,
  gutter: 2rem,
  media: "(min-width: 768px)",
);

body {
  @include grid-container;
  // @include grid-visual;
  max-width: $max-width;
  margin: 0 auto;
}

nav {
  @include grid-column(1, $article-layout-grid);
  margin-bottom: 2rem;

  ul li {
    display: inline-block;
  }
}

footer {
  @include grid-column(1, $article-layout-grid);
}

#main {
  @include grid-column(1, $article-layout-grid);
  margin-bottom: 2rem;

  @include grid-media($article-layout-grid--tablet-up) {
    @include grid-column(4);
  }
}

aside {
  @include grid-column(1, $article-layout-grid);

  @include grid-media($article-layout-grid--tablet-up) {
    @include grid-column(1);
  }
}
