footer {
  @include grid-container;
  background: $footer-bg;
  color: $footer-color;
  height: $footer-height;
}

.footer-content {
  @include grid-column(1, $article-layout-grid);
  text-align: center;
  padding: 2rem;

  a { color: $footer-color; }
  a:hover { color: $primary-color; }

  i.fa { font-size: 1.5rem; }
  li {
    display: inline-block;
    padding: 0.5rem;
  }
}
