header {
  @include grid-container;
  padding: .8em;
  margin-bottom: 5rem;
  border-bottom: 1px solid $light-gray;
}

.logo {
   @include grid-column(1, $article-layout-grid);
   text-align: center;
   margin-top: 3rem;
   svg {
     @include size(140px);
   }

   @include grid-media($article-layout-grid--tablet-up) {
     @include grid-column(1);
     text-align: left;
     margin-top: 0;
     svg {
       @include size(60px);
     }
   }
}

nav {
  @include grid-column(1, $article-layout-grid);
  ul { text-align: center; }
  i.fa { font-size: 1.5rem; }

  .dropdown {
    display: inline-block;
    position: relative;
  }

  .dropdown:hover .dropdown-content { display: block; }

  .dropdown-content {
    background-color: $dropdown-bg;
    box-shadow: 0 8px 16px 0 $dropdown-shadow;
    display: none;
    min-width: 200px;
    position: absolute;
    text-align: left;
    z-index: 1;
  }

  @include grid-media($article-layout-grid--tablet-up) {
    @include grid-column(4);
    ul { text-align: right; }
  }
}

nav {
  @include dark-link;
  height: 60px;
  margin-top: 0.4em;

  ul li {
    display: inline-block;
    padding: 1rem;
  }
}

[aria-current]:not([aria-current="false"]) {
  color: $primary-color;
  font-weight: bold;
}


