.page--title {
  text-align: center;
  border-bottom: 1px solid $light-gray;
  margin-bottom: 5em;

  h1 {
    font-size: 2rem;
    margin-bottom: 2em;
  }
}

.page--title-tag {
  color: $primary-color;
  text-transform: uppercase;
}
