<footer>
    <ul class="footer-content">
        <li>©2017 DevSimple</li>
        <li>
            <% link_to data.global.social_links.youtube.link do %>
                <i class="fa fa-<%= data.global.social_links.youtube.icon %>"></i>
            <% end %>
        </li>
        <li>
            <% link_to data.global.social_links.github.link do %>
                <i class="fa fa-<%= data.global.social_links.github.icon %>"></i>
            <% end %>
        </li>
        <li>
            <% link_to data.global.social_links.rss.link do %>
                <i class="fa fa-<%= data.global.social_links.rss.icon %>"></i>
            <% end %>
        </li>
    </ul>
</footer>
<%= partial "partials/analytics" %>
