<header>
    <div class="logo">
       <%= link_to svg("logo"), "/" %>
    </div>
    <nav>
        <ul>
            <li>
                <%= link_to 'Все статьи', '/' %>
            </li>

            <% if list_of_categories.any? %>
                <% list_of_categories.each do |category| %>
                    <li><%= link_to_category(category) %></li>
                <% end %>
            <% end %>

            <% if list_of_courses.any? %>
                <li class="dropdown">
                    <span>Курсы</span>
                    <ul class="dropdown-content">
                        <% list_of_courses.each do |course| %>
                            <li><%= link_to_course(course) %></li>
                        <% end %>
                    </ul>
                </li>
            <% end %>
        </ul>
    </nav>
</header>
